<template>
  <q-page class="row items-center justify-evenly">
    <q-img
      src="statics/locatick-logo.png"
      style="height: 300px; max-width: 850px"
    />
  </q-page>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'PageIndex'
});
</script>
